body{
    padding: 20px;
    /* background-color: #f0f0f05d; */
    font-weight: 600;
    font-size: 1rem;
}
.Tcrds{
    width: 50rem;
    margin: 10px;
}
#AddButton,#UploadFile,#EditButton,#SearchButton,#PurchaseButton,#Add,#Remove,#CancelDelete{
    background-color:rgb(70, 115, 73);
    color: white;
    font-weight: bold;
}
#ProductDist{
    padding: 20px;
}
.BarChart{
    max-width: 40rem;
    max-height: 40rem;
}
#Dash{
    max-width:100%;
}
#BarChart{
    min-height: 350px;
    width: 200px;
}

#Confirm-Delete,#DeleteButton,#ClearCart,#RemoveItem{
    font-weight: bold;
    background-color: rgba(201, 23, 23, 0.938);
    color: white;
}
#NavBrand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;

}
#container{
    background-color:rgba(245, 245, 245, 0) ;
    
}
#searchInventory{
    display: flex;
    flex-direction: row;;
    justify-content: center;
}
#Accordion{
    background-color:white;
    border: 1px;
    -webkit-box-shadow: 10px 10px 41px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px -24px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 41px -24px rgba(0,0,0,0.75)
}
#NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
#Sidecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#SideBar{
    display: flex;
    flex-direction: column;
}
#inventoryButton,#saleButton,#statsButton {
    border-radius: 50%;
    height: 70px;
}
@media screen and (max-width: 1000px) {
    #root {
      display: none;
      position: relative;
    }
  
    body::before {
      content: "Error: Unsupported Device. This website is only viewable on laptops and desktops. Please access it from a laptop or desktop computer.";
      display: block;
      text-align: center;
      padding: 20px;
      font-size: 18px;
      color: #721c24;
      background-color: #f8d7da;
      margin: 20px;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
    }
  }